{:kotoba.app/id "cloud.itonami.isic-862", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibfc2i3azc6gy6r6kras7ros4sf4vmsuaobau64ltxaq3rwn5ipf4", :kotoba.app/embed-url "ipfs://bafkreibfc2i3azc6gy6r6kras7ros4sf4vmsuaobau64ltxaq3rwn5ipf4", :published {:archive "https://kotobase.net/ipfs/bafkreibfc2i3azc6gy6r6kras7ros4sf4vmsuaobau64ltxaq3rwn5ipf4", :size 72521, :put-status 201, :get-status 200, :at "2026-08-15T13:42:18.874Z"}}
